.facebook-search {
  font-size: 16px;
  margin-left: 10px;
  position: relative;
  top: -1px;
}

.linkedin_photo_block {
  display: block;
  width: 100%;
  height: auto;
}

._4-u2._19ah._2ph_._4-u8 img {
  margin-top: 15px;
}

.email-checks {
  padding: 10px;
  background: #fff;
  font-size: 12px;
  line-height: 1.4em;
  border: 1px #ddd solid;
  margin-bottom: 10px;
}

@media print {
	.gr__linkedin_com .pv-ad-banner--light,
	.gr__linkedin_com #extended-nav,
	.gr__linkedin_com .pv-top-card-section__actions,
	.gr__linkedin_com .pv-profile-wrapper .profile-view-grid .right-rail,
	.gr__linkedin_com .profile-background-image--loading,
	.gr__linkedin_com .pv-deferred-area:nth-child(2),
	.gr__linkedin_com .pv-deferred-area:last-child,
	.gr__linkedin_com .pv-skill-entity__highlights-list,
	.gr__linkedin_com button[aria-controls="featured-skills-expanded"],
	.gr__linkedin_com .nav-footer--static,
	.msg-overlay-list-bubble--is-minimized,
	.gr__linkedin_com #featured-skills-expanded > p,
	.gr__linkedin_com .facebook-search,
	.gr__linkedin_com .pv-profile-section__see-less-inline,
	.gr__linkedin_com .pv-accomplishments-block__expand,
	.gr__linkedin_com .pv-accomplishments-block__count,
	.gr__linkedin_com .pv-accomplishments-block:before,
	.gr__linkedin_com .pv-entity__logo,
	.gr__linkedin_com .pv-skill-entity__endorse-actions {
	  display: none !important;
	}
	.gr__linkedin_com .pv-accomplishments-block {
		padding-top: 12px;
	}
	.gr__linkedin_com .authentication-outlet,
	.gr__linkedin_com .pv-entity__extra-details {
	  margin-top: 0;
	}
	.gr__linkedin_com .neptune-grid.two-column .core-rail {
	  width: 100%;
	}
	.gr__linkedin_com .pv-entity__summary-info {
		margin-left: 0;
	}
	.gr__linkedin_com .pv-top-card-section__header--bg-img-v2 {
	  margin-top: 0;
	}
	.gr__linkedin_com .pv-featured-skills-list--include-highlights .pv-skill-entity--featured {
	  float: left;
	  border-bottom: 0;
	  padding-top: 0;
	}
	.gr__linkedin_com #featured-skills-expanded {
	  clear: both;
	}
}